@charset "UTF-8";

@font-face {
  font-family: 'SkyTextRegular';
  src: url("sky_reg-webfont.eot");
  src: url("sky_reg-webfont.eot?#iefix") format("embedded-opentype"), url("sky_reg-webfont.woff") format("woff"), url("sky_reg-webfont.ttf") format("truetype");
  /*font-weight: 400;*/
  font-style: normal; }

@font-face {
  font-family: 'SkyTextMedium';
  src: url("sky_med-webfont.eot");
  src: url("sky_med-webfont.eot?#iefix") format("embedded-opentype"), url("sky_med-webfont.woff") format("woff"), url("fonts/sky_med-webfont.ttf") format("truetype");
  /*font-weight: 600;*/
  font-style: normal; }

body {
	padding:0;
	margin:0;
	background-color: rgb(255,255,255);
	width: 726px;
	height: 90px;
	z-index: 2;
}

* {
	cursor: pointer;
}

#canvas{
	background-image: url('assets/preloader.gif');
	background-position: center center;
	background-repeat:no-repeat;
	background-color: #fff;
	width: 726px;
	height: 88px;
	z-index: 1;
}

#exit{
	position : absolute;
	top:0px;
	border: solid 1px rgb(171,171,171);
    width: 726px;
	height: 88px;
	z-index: 2;
}

#legals{
	 position : absolute;
	 left: 4px;
	 top: 76px;
	 font-family: "SkyTextRegular";
	 font-size: 10px;
	 text-align: left;
	 color: #8a8a8a;
	 opacity: 0;
	 z-index: 50;
}

#cross{
	 padding:10;
	 margin:10;
	 top:5px;
	 position : absolute;
	 width: 16px;
	 height: 16px;
	 left: 275px;
	 font-family: "SkyTextRegular";
	 font-size: 14px;
	 text-align: center;
	 border: solid 1px rgb(171,171,171);
	 background-color: #aaa;
	 color: #000;
	 z-index: 5;
}

#legalsContainer{
	position: absolute;
	padding: 5px;
	width : 718px;
	border-top: solid 1px rgb(171,171,171);
	background-color: rgb(255,255,255);
	color: #8a8a8a;
	top: 100px;
	font-family: "SkyTextRegular";
	font-size: 10px;
 	text-align: center;
 	z-index: 1;
}
